*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#009688 0px, #009688 15vh, #d5dbd8 15vh, #d5dbd8 100vh)
}

.container{
    height: 700px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

header{
    height: 600px;
    width: calc(950px / 2);
}

.cont-header{
    background-color: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.avatar{
    display: flex;
    align-items: center;
}

.image{
    width: 40px;
    height: 40px;
    display: block;
}

.image img{
    width: 100%;
    border-radius: 50%;
}

.icon{
    color: #b1b1b1;
    display: flex;
    align-items: center;
}

.head-main{
    background-color: #ffffff;
    height: 550px;
}

.new-message{
    background-color: #8edafc;
    height: 60px;
    display: flex;
    align-items: center;
}

.bell{
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.fa-bell-slash{
    color: #8edafc;
}

.not{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

a{
    color: #767474;
}

.form-control{
    font-size: 0.8rem;
}

.contact{
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #e9ebeb ;
}
    
.user{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
}

.cont-mic{
    background-color: #e9ebeb;
    display: flex;
    justify-content: space-between;
}

.time{
    display: flex;
    font-size: 0.5rem;
    margin-right: 5px;
}








main{
    height: 600px;
    width: 950px;
}

.cont-main{
    background-image: url(../img/mine.jpg);
    height: 500px;
    font-size: 0.8rem;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}

.received{
    background-color: #d5f9ba;
    width: 200px;
    height: 40px;
    border-radius: 8px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

.envoy{
    background-color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 8px;
}

.cont-footer{
    height: 50px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
}

.message{
    display: flex;
    align-items: center;
}

.text{
    height: 40px;
    width: 500px;
}